$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px
);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:700);
@import '../../node_modules/sass-mq/mq';
@import "_common";
@import "_header.scss";
@import "_comments";
@import "_imagedetails.scss";
@import "_imagelist.scss";
